@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
}

[data-theme='dark'] {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
}
